@use 'sass:color';
@use '@angular/material' as mat;
@use 'theme-colors';

@include mat.core();

$web-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$web-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$web-warn: mat.m2-define-palette(mat.$m2-red-palette);

$web-font-family: "Roboto", sans-serif;

$web-typography-level: mat.m2-define-typography-level($font-family: $web-font-family,
    $font-weight: 400,
    $font-size: 11px,
    $line-height: 1,
  );

$web-fonts: mat.m2-define-typography-config($font-family: $web-font-family,
    $body-1: $web-typography-level,
    $body-2: $web-typography-level);

$web-theme: mat.m2-define-light-theme((color: (primary: $web-primary,
        accent: $web-accent,
        warn: $web-warn ),
      typography: $web-fonts,
      density: -5),
  );

@include mat.all-component-themes($web-theme);
@include mat.all-component-typographies($web-fonts);


::-webkit-scrollbar {
  width: theme-colors.$scrollbar-width;
}

::-webkit-scrollbar-track {
  background: theme-colors.$scrollbar-background-color;
  border-radius: theme-colors.$scrollbar-border-radius;
}

::-webkit-scrollbar-thumb {
  background: theme-colors.$scrollbar-thumb-color;
  border-radius: theme-colors.$scrollbar-border-radius;
}

::-webkit-scrollbar-thumb:hover {
  background: theme-colors.$scrollbar-thumb-hover-color;
}

div .mat-mdc-form-field-infix {
  display: grid;
}

.mat-table {
  border-radius: 16px;
  overflow: hidden !important;
}

div .mat-expansion-panel-body {
  padding: 0 16px 16px;
}

div .mat-mdc-text-field-wrapper {
  background-color: white;
  padding: 0 12px;
  letter-spacing: -0.25px;
}

mat-pseudo-checkbox {
  margin-right: 6px !important;
}

html {
  height: 100%;
}



table {
  background-color: theme-colors.$table-bg-color;

  tr {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  td,
  th {
    padding: 4px;
  }
}

body {
  margin: 0;
  background-color: theme-colors.$bg-color;
  height: 100%;

  @include mat.table-overrides((background-color: theme-colors.$table-bg-color,
      header-headline-size: 12px,
    ));
}