<div class="tooltip-container">
  <div class="tooltip-inner-container">
    @if (iconGoodUrlLookupFn(boost)) {
      <img [src]="iconGoodUrlLookupFn(boost)" [alt]="boost" class="item-icon-big" />
    }
    <div class="item-name">{{ boost }}</div>
    @if (boostInfo!.productivityEffect ?? 0 > 0) {
      <div class="item-text">{{ productivityText }}</div>
    }
    @if (boostInfo!.extraGood) {
      <div class="item-text extra-goods-container">
        <div class="extra-good">
          <div class="extra-good-name">
            {{ extraGoodText }}
          </div>
        </div>
      </div>
    }
  </div>
</div>
