<div class="tooltip-container">
  <div class="tooltip-inner-container">
    @if (boostIconUrlLookupFn(value())) {
      <img [src]="boostIconUrlLookupFn(value())" [alt]="value()" class="item-icon-big" />
    }
    <div class="item-name">{{ value() }}</div>
    @if ((boostInfo!.productivityEffect ?? 0) > 0) {
      <div class="item-text">
        <span textLoc="Productivity"></span>
        :
        {{ productivityText }}
      </div>
    }
    @if (boostInfo!.extraGood) {
      <div class="item-text extra-goods-container">
        <div class="extra-good">
          <div class="extra-good-name">
            <span textLoc="Extra Good"></span>
            :
            {{ extraGoodText }}
          </div>
        </div>
      </div>
    }
  </div>
</div>
