@use 'sass:color';
@use '@angular/material' as mat;
@use '../../../../theme-colors';

.building-count {
  width: 45px;
}

.trade-bonus-field {
  width: 70px;
}

.production-line-row {
  border-bottom: none;
}

:host {
  @include mat.table-overrides((header-container-height: 30px,
      header-headline-line-height: 1,
      header-headline-weight: 500,
    ));
}

.extra-goods-outer-container {
  display: flex;
  justify-content: space-evenly;
  margin: 8px;
}

.extra-goods-field {
  width: 35px;
}

.table-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

table.production-lines-table {
  display: inline-table;
  max-height: 400px;

  table.extra-goods-table {

    th {
      // No idea where the th z-index is overridden directly to 100. It's not in the code.
      z-index: 99 !important;
    }
  }

  thead {
    display: table-header-group;
  }

  th,
  td {
    padding: 4px;
    flex-grow: 1;
    text-align: center;
  }

  td.extra-goods-row {
    padding: 0;
  }

  th {
    background-color: color.scale(theme-colors.$table-bg-color, $lightness: -6%);
  }

  td {
    padding: 4px;
    background-color: color.scale(theme-colors.$table-bg-color, $lightness: -3%);
  }
}

.extra-good-table-row {
  height: 0;
}

.add-extra-good-button {
  display: flex;
  margin-bottom: 8px;
}

section {
  margin: 10px 0 0 0;

  &:first-child {
    margin-top: 0;
  }
}

mat-checkbox {
  display: table;
  margin: auto;
}

.island-name-field {
  padding: 4px 4px 4px 0;
}

.select-row {
  display: flex;
}

.island-select {
  padding: 4px;
}

:host ::ng-deep {
  .mdc-text-field--disabled {
    color: unset;
    border: -1px solid rgba(1, 1, 1, 0.15);
    border-radius: 4px;
    box-sizing: border-box;
  }

  .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
    color: rgba(0, 0, 0, 0.87)
  }
}