<ng-container *ngIf="controller" [formGroup]="formGroup!">
  <section>
    <mat-form-field>
      <mat-label>Island Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Department of Labor Policy</mat-label>
      <mat-select formControlName="dolPolicy">
        <mat-option *ngFor="let policy of dolPolicies" [value]="policy">
          {{ policy }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
  <section>
    <button matButton="filled" color="primary" (click)="addProductionLine()">
      <mat-icon>add</mat-icon>
      Add Production Line
    </button>
  </section>
  <section class="table-container">
    <table>
      <thead>
        <tr>
          <th class="building-field">Building</th>
          <th class="building-count">Count</th>
          <th class="good-field">Good</th>
          <th class="extra-goods-field">D</th>
          <th>/</th>
          <th class="extra-goods-field">N</th>
          <th class="boost-field">Boost</th>
          <th>Trade Union?</th>
          <th class="trade-bonus-field">Trade Union Bonus (%)</th>
          <th>In Range of Local Department</th>
          <th>Efficiency</th>
          <th>Building Process Time</th>
          <th>Good Process Time</th>
          <th>Production</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let productionLine of productionLines; index as i">
          <tr production-line [controller]="productionLine" (change)="onChange()" (remove)="removeProductionLineAt(i)">
          </tr>
        </ng-container>
      </tbody>
    </table>
  </section>
</ng-container>