:host ::ng-deep {
  div .mat-mdc-form-field-infix {
    display: grid;
  }
}

td {
  padding: 2px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.building-field {
  width: 160px;
}

.input-field {
  width: 40px;
}

.boost-field {
  width: 120px;
}

.trade-bonus-field {
  width: 70px;
}