.building-field {
  width: 160px;
}

.building-count {
  width: 50px;
}

.good-field {
  width: 160px;
}

.extra-goods-field {
  width: 40px;
}

.boost-field {
  width: 150px;
}

.trade-bonus-field {
  width: 70px;
}

mat-checkbox {
  display: table;
  margin: auto;
}