<ng-container *ngIf="controller" [formGroup]="formGroup!">
  <td>
    <mat-form-field class="building-field">
      <mat-select formControlName="building">
        <mat-option *ngFor="let building of productionBuildings" [value]="building">
          {{ building }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field class="input-field">
      <input matInput type="text" inputmode="numeric" min="0" formControlName="numBuildings" [intMin]="0">
    </mat-form-field>
  </td>
  <td>
    <mat-form-field class="good-field">
      <mat-select formControlName="resource">
        <mat-option *ngFor="let good of goods" [value]="good">
          {{ good }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  <td>
    <mat-form-field class="input-field">
      <input matInput type="text" inputmode="numeric" min="1" formControlName="goodsRateNumerator" [intMin]="1">
    </mat-form-field>
  </td>
  <td>/</td>
  <td>
    <mat-form-field class="input-field">
      <input matInput type="text" inputmode="numeric" min="1" formControlName="goodsRateDenominator" [intMin]="1">
    </mat-form-field>
  </td>
  <td>
    <mat-form-field class="boost-field">
      <mat-select formControlName="boostType">
        <mat-option *ngFor="let boost of boosts" [value]="boost">
          {{ boost }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  <td>
    <mat-checkbox formControlName="hasTradeUnion"></mat-checkbox>
  </td>
  <td>
    <mat-form-field class="trade-bonus-field">
      <input matInput type="text" inputmode="numeric" min="0" formControlName="tradeUnionItemsBonusPercent">
    </mat-form-field>
  </td>
  <td>
    <div class="keep-top">{{ efficiency }}</div>
  </td>
  <td>
    <div class="keep-top">{{ buildingProcessTimeSeconds }}</div>
  </td>
  <td>
    <div class="keep-top">{{ goodProcessTimeSeconds }}</div>
  </td>
  <td>
    <div class="keep-top">{{ goodsProducedPerMinute }}</div>
  </td>
  <td>
    <button matButton (click)="remove.emit()">-</button>
  </td>
</ng-container>