.container {
  display: flex;

  formatted-number {
    margin: auto 2px auto auto;
  }

  mat-icon {
    margin: auto auto auto 0;
    width: 14px;
    height: 14px;
    font-size: 14px;
    // Soften slightly so it isn't too jarring.
    opacity: 0.75;
  }
}

.tooltip-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  border: solid 0.5px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
}

.total {
  font-size: 16px;
  font-weight: 500;
  margin: 8px auto 16px auto;
  min-width: 0;
  letter-spacing: -0.25px;
  white-space: nowrap;
}

.constituent {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin: 6px;
}
