<div cdkOverlayOrigin #trigger="cdkOverlayOrigin" (mouseenter)="showTooltipAt()" (mouseleave)="hideTooltipAt()">
  <formatted-number
    [value]="value"
    [isPercent]="isPercent"
    [format]="format"
    [formatFontSpec]="formatFontSpec"
    [suffix]="suffix"
    [zeroOverride]="zeroOverride"></formatted-number>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showTooltip"
  (detach)="hideTooltipAt()">
  <div class="tooltip-container">
    <div class="total">
      <formatted-number
        [value]="value"
        [isPercent]="isPercent"
        [format]="format"
        [formatFontSpec]="formatFontSpec"
        [suffix]="suffix"
        [zeroOverride]="zeroOverride"></formatted-number>
    </div>
    @for (num of constituentValues; track num) {
      <div class="constituent">
        <formatted-number
          [value]="num.value"
          [isPercent]="isPercent"
          [format]="format"
          [formatFontSpec]="formatFontSpec"
          [suffix]="suffix"
          [zeroOverride]="zeroOverride"
          [showPlusIfPositive]="showPlusIfPositive"></formatted-number>
        <div>&nbsp;-&nbsp;</div>
        <div>{{ num.description }}</div>
      </div>
    }
  </div>
</ng-template>
