<div class="column left-column">
  @if (world) {
    <section class="global-parameters-section">
      <card presentation="accent">
        <card-title><span textLoc="Default Actions"></span></card-title>
        <card-content class="buttons-container">
          @for (action of defaultActions; track action) {
            <ac-button [icon]="action.icon" [tooltip]="action.tooltip" (action)="action.fn()"></ac-button>
          }
        </card-content>
      </card>
      <card class="global-parameters-card">
        <card-title><span textLoc="Global Parameters"></span></card-title>
        <card-content [formGroup]="formGroup!">
          <enum-select
            class="palace-select"
            formControlName="palacePrestigeLevel"
            label="Palace Prestige Level"
            [options]="palacePrestigeLevels"
            [iconUrlLookupFn]="lookupPalaceIconUrl"
            [displayTextTransformer]="palaceLevelText"></enum-select>
        </card-content>
      </card>
    </section>
  }
  <section class="island-list-section">
    @if (world) {
      <mat-accordion multi>
        @for (island of world.islands; track island.id) {
          <mat-expansion-panel [expanded]="true">
            <div class="underlay"></div>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>flag</mat-icon>
                {{ island.name }}
              </mat-panel-title>
              <mat-panel-description>
                <ac-button class="delete-island-button" icon="delete" (click)="removeIsland(island.id)"></ac-button>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <island [controller]="island"></island>
          </mat-expansion-panel>
        }
      </mat-accordion>
    }
  </section>
  <section class="add-island-button-section">
    <ac-button appearance="filled" color="primary" icon="add" text="Add Island" (click)="addIsland()"></ac-button>
  </section>
</div>
<div class="column right-column">
  @if (world) {
    <summary-panel [world]="worldSummary"></summary-panel>
    <trade-routes-panel [world]="world"></trade-routes-panel>
  }
</div>
