<mat-toolbar color="primary" class="toolbar">
  <div class="underlay"></div>
  <div class="toolbar-items">
    <button mat-button class="toolbar-title toolbar-text-shadow" (click)="navigateTo('/')">
      {{ website }}
    </button>
    @for (app of apps; track app) {
      <div class="toolbar-item toolbar-text-shadow" [ngClass]="isCurrentApp(app) ? 'toolbar-item-selected' : ''">
        <button mat-button [disabled]="isCurrentApp(app)" (click)="navigateTo(app)">
          {{ app.name }}
        </button>
      </div>
    }
  </div>
</mat-toolbar>
