<mat-form-field *ngIf="wrapInMatFormField" class="field">
  <mat-select [(value)]="value" [disabled]="isDisabled" (valueChange)="onChange(value)" (closed)="onTouched()"
    [multiple]="multiple" placeholder="None" [class.placeholder]="valueAsArray.length == 0">
    <mat-select-trigger>
      <div *ngFor="let value of valueAsArray" class="option">
        <img *ngIf="iconUrlLookupFn(value)" [src]="iconUrlLookupFn(value)" [alt]="value" class="icon"
          [class.icon-right-padding]="valueAsArray.length > 1">
        <div *ngIf="valueAsArray.length == 1" class="option-text">{{ value }}</div>
      </div>
    </mat-select-trigger>
    <mat-option *ngFor="let option of options" [value]="option">
      <div class="option">
        <img *ngIf="iconUrlLookupFn(option)" [src]="iconUrlLookupFn(option)" [alt]="option" class="icon">
        <div class="option-text">{{ option }}</div>
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
<ng-container *ngIf="!wrapInMatFormField">
  <mat-select [(value)]="value" [disabled]="isDisabled" (valueChange)="onChange(value)" (closed)="onTouched()"
    [multiple]="multiple" placeholder="None">
    <mat-select-trigger>
      <div *ngFor="let value of valueAsArray" class="option">
        <img *ngIf="iconUrlLookupFn(value)" [src]="iconUrlLookupFn(value)" [alt]="value" class="icon">
        <div class="option-text">{{ value }}</div>
      </div>
    </mat-select-trigger>
    <mat-option *ngFor="let option of options" [value]="option">
      <div class="option">
        <img *ngIf="iconUrlLookupFn(option)" [src]="iconUrlLookupFn(option)" [alt]="option" class="icon">
        <div class="option-text">{{ option }}</div>
      </div>
    </mat-option>
  </mat-select>
</ng-container>