:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.app-bar-placeholder {
  height: 72px;
}

.app-container {
  margin: 0 16px 16px 16px;
  flex-grow: 1;
  height: 100%;
}
