:host {
  display: inline-flex;
}

.item-container {
  display: inline-flex;
}

.item-icon {
  width: 24px;
}

.item-icon-right-padding {
  padding-right: 6px;
}

.item-text {
  padding-left: 6px;
  margin: auto 0;
  min-width: 0;
  letter-spacing: -0.25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .tooltip-style {
  background-color: #ff5722;
  color: white;
  font-size: 14px;
}