@use 'sass:color';
@use '@angular/material' as mat;
@use '../../../../theme-colors';

card-content {
  display: flex;
  flex-direction: column;
}

.table-container {
  flex-grow: 1;
  width: 100%;
  height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

table {
  display: table;
  width: 100%;

  thead {
    display: table-header-group;
  }

  th,
  td {
    max-width: 0px;
    padding: 4px;
    text-align: center;
  }

  td.extra-goods-row {
    padding: 0;
  }

  th {
    background-color: color.scale(theme-colors.$table-bg-color, $lightness: -6%);
  }

  td {
    background-color: color.scale(theme-colors.$table-bg-color, $lightness: -3%);

    &.remove-field {
      width: 55px;
      max-width: 55px;
    }

    mat-form-field {
      width: 100%;
    }
  }
}

:host {
  @include mat.table-overrides(
    (
      header-container-height: 30px,
      header-headline-line-height: 1,
      header-headline-weight: 500,
    )
  );
}

.add-trade-route-button {
  display: flex;
  margin-bottom: 8px;
}
