<div class="tooltip-container">
  <img [src]="goodIconUrl(source?.good)" [alt]="source?.good" class="good-icon-big" [class.glow]="!!source?.replaces" />
  <div class="good-name">{{ source?.good }}</div>
  @if (source?.replaces) {
    <div class="substitution">
      <div class="substitution-row">
        <span class="label" textLoc="Replaces"></span>
        <img [src]="goodIconUrl(source!.replaces)" [alt]="source!.replaces" class="icon-small" />
        <span>{{ source!.replaces }}</span>
      </div>
      @if (source!.item) {
        <div class="substitution-row">
          <span class="label" textLoc="Specialist"></span>
          <img [src]="itemIconUrl(source!.item)" [alt]="source!.item" class="icon-small" />
          <span>{{ source!.item }}</span>
        </div>
      }
    </div>
  }
</div>
