<div class="column left-column">
  <section *ngIf="world" class="global-parameters-section" [formGroup]="formGroup!">
    <card>
      <card-title>Global Parameters</card-title>
      <card-content class="global-parameters-content">
        <mat-form-field>
          <mat-label>Palace Trade Union Bonus (%)</mat-label>
          <input matInput type="number" formControlName="tradeUnionBonusPercent">
        </mat-form-field>
        <div class="buttons-container">
          <ac-button icon="content_copy" tooltip="Copy the JSON representation of your inputs to your clipboard."
            (action)="copyJsonToClipboard()"></ac-button>
          <ac-button icon="edit_square" tooltip="Manually edit the JSON inputs."
            (action)="openSaveDialog()"></ac-button>
          <ac-button icon="refresh" tooltip="Reset the inputs to a default example."
            (action)="resetInputToDefault()"></ac-button>
          <ac-button icon="delete" tooltip="Completely clear the inputs." (action)="clearInput()"></ac-button>
        </div>
      </card-content>
    </card>
  </section>
  <section class="island-list-section">
    <mat-accordion multi *ngIf="world">
      <mat-expansion-panel *ngFor="let island of world.islands; index as i" [expanded]="true">
        <div class="underlay"></div>
        <mat-expansion-panel-header>
          <mat-panel-title><mat-icon>flag</mat-icon>{{ island.name }}</mat-panel-title>
          <mat-panel-description>
            <ac-button class="delete-island-button" icon="delete" (click)="removeIslandAt(i)">
            </ac-button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <island [controller]="island" (change)="update()"></island>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section class="add-island-button-section">
    <ac-button appearance="filled" color="primary" icon="add" text="Add Island" (click)="addIsland()">
    </ac-button>
  </section>
</div>
<div class="column right-column">
  <summary-panel *ngIf="world" [world]="world"></summary-panel>
  <trade-routes-panel *ngIf="world" [controller]="world" (change)="update()"></trade-routes-panel>
</div>