@if (wrapInMatFormField) {
  <mat-form-field class="field">
    @if (label != null) {
      <mat-label>{{ label }}</mat-label>
    }
    <mat-select
      [(value)]="value"
      [disabled]="isDisabled"
      (valueChange)="onChange(value)"
      (closed)="onTouched()"
      [multiple]="multiple"
      placeholder="None"
      [class.placeholder]="valueAsArray.length == 0">
      <mat-select-trigger>
        <enum-row [values]="valueAsArray" [iconUrlLookupFn]="iconUrlLookupFn"></enum-row>
      </mat-select-trigger>
      @for (option of options; track option) {
        <mat-option
          [value]="option"
          [disabled]="multiple && valueAsArray.length >= multipleSelectLimit && !valueAsArray.includes(option)">
          <div class="option">
            @if (iconUrlLookupFn(option)) {
              <img [src]="iconUrlLookupFn(option)" [alt]="option" class="icon" />
            }
            <div class="option-text">{{ option }}</div>
          </div>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
} @else {
  <mat-select
    [(value)]="value"
    [disabled]="isDisabled"
    (valueChange)="onChange(value)"
    (closed)="onTouched()"
    [multiple]="multiple"
    placeholder="None">
    <mat-select-trigger>
      <enum-row [values]="valueAsArray" [iconUrlLookupFn]="iconUrlLookupFn"></enum-row>
    </mat-select-trigger>
    @for (option of options; track option) {
      <mat-option
        [value]="option"
        [disabled]="multiple && valueAsArray.length >= multipleSelectLimit && !valueAsArray.includes(option)">
        <div class="option">
          @if (iconUrlLookupFn(option)) {
            <img [src]="iconUrlLookupFn(option)" [alt]="option" class="icon" />
          }
          <div class="option-text">{{ option }}</div>
        </div>
      </mat-option>
    }
  </mat-select>
}
