:host {
  display: block;

  ::ng-deep {
    div.mat-mdc-select-value {
      display: grid;
      overflow: visible;
    }
  }
}

.field {
  width: 100%;
}

.option {
  display: flex;
}

.icon {
  width: 24px;
}

.placeholder {
  margin: auto 0;
}

mat-select {
  height: 24px;
}

mat-option {
  min-height: 36px;
}
