<div class="column left-column">
  @if (world) {
    <section class="global-parameters-section">
      <card presentation="accent">
        <card-title><span textLoc="Default Actions"></span></card-title>
        <card-content class="buttons-container">
          @for (action of defaultActions; track action) {
            <ac-button [icon]="action.icon" [tooltip]="action.tooltip" (action)="action.fn()"></ac-button>
          }
        </card-content>
      </card>
      <card class="global-parameters-card">
        <card-title><span textLoc="Global Parameters"></span></card-title>
        <card-content>
          <enum-select
            class="discoveries-select"
            label="Discoveries"
            [multiple]="true"
            [options]="techChoices"
            [iconUrlLookupFn]="techIcon"
            [displayTextTransformer]="techName"
            [tooltip]="techTooltip"
            [ngModel]="world.oneTimeTechs"
            (ngModelChange)="setTechs($event)"></enum-select>
          @for (tech of repeatableTechs; track tech.id) {
            <mat-form-field class="repeatable-tech">
              <mat-label>{{ techName(tech.id) }}</mat-label>
              <input
                matInput
                type="number"
                min="0"
                [max]="maxTechLevel"
                [attr.aria-label]="'repeatable-tech-' + tech.id"
                [ngModel]="world.techLevel(tech.id)"
                (ngModelChange)="setTechLevel(tech.id, $event)" />
            </mat-form-field>
          }
        </card-content>
      </card>
    </section>
  }
  <section class="island-list-section">
    @if (world) {
      <mat-accordion multi>
        @for (island of world.islands; track island.id) {
          <mat-expansion-panel [expanded]="true">
            <div class="underlay"></div>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>flag</mat-icon>
                {{ island.name }}
              </mat-panel-title>
              <mat-panel-description>
                <ac-button class="delete-island-button" icon="delete" (click)="removeIsland(island.id)"></ac-button>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <anno-117-island [controller]="island"></anno-117-island>
          </mat-expansion-panel>
        }
      </mat-accordion>
    }
  </section>
  <section class="add-island-button-section">
    <ac-button appearance="filled" color="primary" icon="add" text="Add Island" (click)="addIsland()"></ac-button>
  </section>
</div>
<div class="column right-column">
  @if (world) {
    <summary-panel [world]="world"></summary-panel>
    <trade-routes-panel [world]="world"></trade-routes-panel>
  }
</div>
<ng-template #techTooltip let-value="value">
  <anno-117-tooltip kind="tech" [value]="value"></anno-117-tooltip>
</ng-template>
