@if (world) {
  <calculator-column
    class="column left-column"
    [actions]="defaultActions"
    [islands]="world.islands"
    [islandTemplate]="islandEditor"
    (addIsland)="addIsland()"
    (removeIsland)="removeIsland($event)">
    <div globalParameters class="discoveries-row">
      <enum-select
        class="discoveries-select"
        label="Discoveries"
        [multiple]="true"
        [options]="techChoices"
        [iconUrlLookupFn]="techIcon"
        [displayTextTransformer]="techName"
        [tooltip]="techTooltip"
        [ngModel]="world.oneTimeTechs"
        (ngModelChange)="setTechs($event)"></enum-select>
      @for (tech of repeatableTechs; track tech.id) {
        <stepper-input
          class="repeatable-tech"
          commit="change"
          suffix="%"
          [label]="techName(tech.id)"
          [ariaLabel]="'repeatable-tech-' + tech.id"
          [step]="techStep(tech.id)"
          [max]="maxTechLevel * techStep(tech.id)"
          [ngModel]="techPercent(tech.id)"
          (ngModelChange)="setTechPercent(tech.id, $event)"></stepper-input>
      }
    </div>
  </calculator-column>
  <div class="column right-column">
    <summary-panel [world]="world"></summary-panel>
    <trade-routes-panel [world]="world"></trade-routes-panel>
  </div>
}
<ng-template #islandEditor let-island>
  <anno-117-island [controller]="island"></anno-117-island>
</ng-template>
<ng-template #techTooltip let-value="value">
  <anno-117-tooltip kind="tech" [value]="value"></anno-117-tooltip>
</ng-template>
